# Dependencies
node_modules/

# Build output
dist/
release/
out/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Env
.env
.env.local

# Voltyx specific
*.local